<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    
        <meta name="viewport" content=""width=device-width, initial-scale="1.0">

        <title>DSAMATDACP</title>
    </head>

    <body>
        <div class="login">
            <h1 style="color: black;">Data Science Analysis of Malicious Ads and Threat Detection Automation for Cybersecurity Progress</h1>
        
            <form action="{{url_for('scrape_data.webscrape')}}" method="post">
                <input type="text" name="keyword" placeholder="nft, cryptocurrency, malware" required="required" /><br>

                <button type="submit" class="btn btn-primary btn-block btn-large">Let's scrape!</button></p>
            </form>

            <h4 style="color: black;">
                {{ scraped_data }}
            </h4>

            <form action="{{url_for('predict_data.predict')}}" method="post">
                <button type="submit" class="btn btn-primary btn-block btn-large">Let's predict validity!</button></p>
            </form>

            <h4 style="color: black;">
                {{ predict_data }}
            </h4>
        </div>
    </body>
</html>